.app-container {
  /* text-align: center; */
  padding: 20px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.monaco-editor-container {
  flex-grow: 1;
  min-width: 300px; /* Set a minimum width */
}
.app-content {
  display: flex;
  height: 600px;
  justify-content: space-between;
  width: 100%;
}
.output-container {
  width: 600px;
  resize: horizontal;
  overflow: auto;
  min-width: 200px; /* Minimum width to prevent collapse */
  padding: 10px;
  border-left: 2px solid #ddd;
  background-color: black;
}
.resizer {
  width: 5px;
  cursor: ew-resize;
  background-color: #ddd;
  position: relative;
  z-index: 1;
}
.output-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.output-result {
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.loading-text {
  color: #f39c12;
  font-weight: bold;
}

.run-button {
  margin-left: 52pc;
  margin-bottom: 2pc;
  /* margin: 10px 20px; */
  font-size: 1.2rem;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.run-button:hover {
  background-color: #21a1f1;
}

.run-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
